.busca-dex {
  position: absolute;
  width: 10.5rem;
  height: 5rem;
  bottom: -5rem;
  left: 21rem;
  z-index: 999;
  background: none;
  background-color: transparent;
  border: none;
  padding: .7rem;
  outline: none;
  color: white;
}

.cards-dex {
  width: 21rem;
  height: 17.5rem;
  background-color: black;
  position: absolute;
  top: 20rem;
  right: 17rem;
  z-index: 999;
  border-radius: 1rem;
  border: .3rem ridge silver;
}

.foto-dex {
  z-index: 0;
}
.dex-busca-lado{
  overflow: scroll;
  overflow-x: hidden;
}
